<h1>DX-Button</h1>
<dx-button text="Click me" (onClick)="hello()"> </dx-button>
<div *ngIf="!products">
  <h1>Array Data</h1>

  <dx-data-grid
    id="gridContainer"
    [dataSource]="customers"
    keyExpr="ID"
    [columns]="['CompanyName', 'City', 'State', 'Phone', 'Fax']"
    [showBorders]="true"
  >
  </dx-data-grid>
</div>
<div id="events">
  <div>
    <div class="caption"> Fired events </div>
    <dx-button id="clear" text="Clear" (onClick)="clearEvents()"></dx-button>
  </div>
  <ul>
    <li *ngFor="let event of events">{{ event }}</li>
  </ul>
</div>

<div *ngIf="products|async as products">
  <h1>Products Api</h1>

  <dx-data-grid
    id="gridContainer"
    height="550px"
    [dataSource]="products1"
    [showBorders]="true"
    [remoteOperations]="true"
    (onRowUpdating)="editRow($event)"
    (onRowRemoving)="deleteRow($event)"
    (onRowInserting)="addRow($event)"
    [repaintChangesOnly]="true"




  >

  <!-- <dx-data-grid
    id="gridContainer"
    height="550px"
    [dataSource]="products1"
    [keyExpr]="products1.id"
    [showBorders]="true"
    [remoteOperations]="true"

    (onEditingStart)="editingStart($event);logEvent('EditingStart')"
    (onInitNewRow)="logEvent('InitNewRow')"
    (onRowInserting)="logEvent('RowInserting')"
    (onRowInserted)="logEvent('RowInserted')"
    (onRowUpdating)="logEvent('RowUpdating')"
    (onRowUpdated)="logEvent('RowUpdated')"
    (onRowRemoving)="onDelete($event);logEvent('RowRemoving')"
    (onRowRemoved)="logEvent('RowRemoved')"
    (onSaving)="onSaving($event);logEvent('Saving')"
    (onSaved)="logEvent('Saved')"
    (onEditCanceling)="logEvent('EditCanceling')"
    (onEditCanceled)="logEvent('EditCanceled')"
  > -->
    <!-- <dxo-editing
      mode="row"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
    >
    </dxo-editing> -->
    <!-- <dxo-selection mode="multiple"></dxo-selection> -->
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <!-- <dxo-sorting mode="none"></dxo-sorting> -->


    <dxi-column dataField="id" caption="ID" [allowEditing]="false"></dxi-column>
    <dxi-column
      dataField="title"
      caption="Title"
      [allowEditing]="true"
    ></dxi-column>
    <dxi-column dataField="price" caption="Price"></dxi-column>
    <dxi-column
      dataField="description"
      caption="Description"
      [allowEditing]="false"

    ></dxi-column>

    <dxi-column caption="category">
      <dxi-column
        dataField="category.id"
        caption="ID"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        dataField="category.name"
        caption="Name"
        [allowEditing]="false"
      ></dxi-column>
      <dxi-column
        dataField="category.image"
        caption="image"
        [allowEditing]="false"
      ></dxi-column>
    </dxi-column>
    <!-- <dxi-column dataField="images" caption="Images"></dxi-column> -->
    <dxo-editing mode="row" [allowUpdating]="true" refreshMode="reshape" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
      <dxo-texts confirmDeleteMessage="DELETE?" addRow="Add new employee">
      </dxo-texts>
  </dxo-editing>


    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>

    <dxo-pager
      [displayMode]="'compact'"
      [showPageSizeSelector]="true"
      [showInfo]="true"
      [allowedPageSizes]="[20,50,100]"
    >
    </dxo-pager>
  </dx-data-grid>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>


