
<div class="container-fluid p-3">
  <div class="header">
    <h3>Edit Details</h3>
  </div>
  <form [formGroup]="updateForm" (ngSubmit)="submitproduct()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price" formControlName="price">
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>

</div>
